a {
  color: #363636 !important;
}

#video-container {
  position: fixed;
  width: 600px;
  height: 400px;
  top: 0px;
  left: 0px;
  margin: auto;
  bottom: 0px;
  right: 0px;
}

[data-name="facebook"] {
  background: url(./images/icon_fb.svg) no-repeat center;
  background-size: contain;
}

[data-name="viber"] {
  background: url(./images/icon_viber.svg) no-repeat center;
  background-size: contain;
}

[data-name="vk"] {
  background: url(./images/icon_vk.svg) no-repeat center;
  background-size: contain;
}

[data-name="telegram"] {
  background: url(./images/icon_telegram.svg) no-repeat center;
  background-size: contain;
}

[data-name="twitter"] {
  background: url(./images/icon_twitter.svg) no-repeat center;
  background-size: contain;
}

.button .icon:first-child:not(:last-child) {
  margin: 0 !important;
}
.button_options {
  position: absolute;
  bottom: 15px;
  left: 20px;
  z-index: 1;
  display: flex;
  gap: 5px;
}

.btn {
  border: 1px solid rgb(0, 175, 20);
  background: transparent;
  color: white;
  z-index: 1;
}

.btn:hover {
  cursor: pointer;
  background-color: aquamarine;
}

.button_return {
  position: absolute;
  left: 20px;
  top: 15px;
  z-index: 1;
}

#fullscreen-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 1;
}

#video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#fullscreen-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: none;
}

#fullscreen-container video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#fullscreen-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: rgba(126, 126, 126, 0.5);
}

#fullscreen-controls button {
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

#fullscreen-controls a {
  color: white !important;
}

#fullscreen-controls button:hover {
  scale: 1.1;
}

#fullscreen-share-btn {
  display: flex;
  padding: 0 0 2px;
  align-items: center;
}

#canvas-container {
  position: fixed;
  width: 600px;
  height: 400px;
  top: 0px;
  left: 0px;
  margin: auto;
  bottom: 0px;
  right: 0px;
}

.canvas {
  width: 100%;
  height: 100%;
}

.canvas2 {
  width: 100%;
  height: 95vh;
}

.watermark {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
}

.watermarkFullScreen {
  position: absolute;
  bottom: 50px;
  right: 20px;
  width: 90px;
  height: 90px;
}

@media (max-width: 640px) {
  #video-container {
    width: 450px;
    height: 300px;
  }
  #canvas-container {
    width: 450px;
    height: 300px;
  }
  #fullscreen-controls {
    gap: 20px;
  }
}

@media (max-width: 480px) {
  #video-container {
    width: 350px;
    height: 250px;
  }
  #canvas-container {
    width: 350px;
    height: 250px;
  }
  #fullscreen-controls {
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 7px;
  }
}

@media (max-width: 370px) {
  #video-container {
    width: 300px;
    height: 200px;
  }
  #canvas-container {
    width: 300px;
    height: 200px;
  }
}

@media (max-width: 330px) {
  #video-container {
    width: 250px;
    height: 180px;
  }
  #canvas-container {
    width: 250px;
    height: 180px;
  }
}

/* add style */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(images/big-bg.png);
  position: relative;
}

.active {
  background-color: greenyellow;
}

.btn-absolute-block {
  position: fixed;
  right: 30px;
  top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-absolute-block > .search-controller > button {
  font-size: 1em;
  width: 100px;
  height: 100px;
  text-transform: uppercase;
}

.btn-absolute-block > .result-controller > button {
  font-size: 1em;
  text-transform: uppercase;
}

.search-controller {
  display: flex;
}

.client-size {
  background-color: #49eab4;
  color: black;
  font-size: 1em;
  text-transform: uppercase;
}
.real-size {
  background-color: #4579e8;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
}

.preview-image {
  border: 2px solid greenyellow;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  background: black;
  backdrop-filter: blur(10px);
}

.preview-image > img {
  width: 200px;
  opacity: 0.5;
  margin: 2px;
}

.preview-image > p {
  color: yellowgreen;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  padding: 5px;
}

.preview-image .size-info {
  position: absolute;
}

header img {
  width: 200px;
}

section {
  padding: 50px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li {
  width: 30%;
  margin-bottom: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

li img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 50%;
}

li h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

li p {
  font-size: 16px;
  color: #666;
}

footer > p {
  color: white;
  font-size: 34px;
  font-weight: 600;
}

.big-image {
  width: 100%;
}

.big-image-bg {
  background-image: url(/images/big-bg.avif);
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.dropdown-list {
  width: 30px;
  height: 25px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-controller {
  display: flex;
}
.show {
  display: flex;
}
.share-btn {
  display: none;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.full-share-btn {
  display: none;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.share-dropdown {
  display: flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
}

.icon-wrapper {
  height: 175px;
  background: white;
  padding: 5px 0;
  display: none;
  flex-direction: column;
  width: 30px;
  align-items: center;
}
